{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:adonis/typescriptApp"
  ],
  "plugins": [
    "unused-imports"
  ],
  "rules": {
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "max-len": [
      2,
      {
        "code": 80,
        "tabWidth": 2,
        "comments": 80,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
